.white-card {
  background-color: white;
  color: black;
  padding: 1.5rem;
  border-radius: 0.75rem;
  position: relative;
  overflow: visible;
  min-height: 180px;
  width: 50%;
  transition: border 0.4s ease;
  z-index: 1;
  box-shadow: 0 0 10px rgba(0,0,0,0.1);
  
  justify-content: left;
}

.gradient-border::before {
  content: '';
  position: absolute;
  inset: 0;
  padding: 2px;
  background: linear-gradient(135deg, red, blue);
  border-radius: 0.75rem;
  -webkit-mask: 
    linear-gradient(#fff 0 0) content-box, 
    linear-gradient(#fff 0 0);
  -webkit-mask-composite: destination-out;
  mask-composite: exclude;
  opacity: 0;
  transition: opacity 0.3s ease;
  z-index: -1;
}

.gradient-border:hover::before {
  opacity: 1;
}
ul li {
  margin-bottom: 0.5rem;
}
ul {
  list-style-type: circle; 
}
.vertical-line {
  width: 4px;
  /* background: linear-gradient(to bottom, red, blue); */
  background: whitesmoke;
  border-radius: 0.75rem;
  height: 100%;
}
