.footer-custom {
  background-color: #ffffff !important;
  color: #000000 !important; 
}

.footer-custom h5,
.footer-custom p,
.footer-custom small,
.footer-custom ul li,
.footer-custom a {
  color: #000000 !important;
}

.footer-custom a {
  text-decoration: none;
}

.footer-custom a:hover {
  color: #F40102 !important;
  text-decoration: underline;
}

.footer-custom .footer-divider {
  border-top: 1px solid #666;
}


.footer-custom .text-light {
  color: #000000 !important; 
}

.footer-custom .text-light:hover {
  color: #F40102 !important;
}
