.carousel-container {
  overflow-x: scroll;
  white-space: nowrap;     
  scroll-behavior: smooth;
  -webkit-overflow-scrolling: touch;
  scrollbar-width: none; 
  width: 100%;  
}

.carousel-container::-webkit-scrollbar {
  display: none; 
}

.carousel-item {
  display: inline-block;   
  width: 300px;            
  user-select: none;
}

.carousel-item img {
  width: 100%;
  height: auto;
  border-radius: 0.5rem;
  display: block;       
}
